*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
h3 {
    color: white;
    text-align: center;
}
h1{
    font-size: 29px;
    text-align : center;
    font-style: bold;
    color: black;
    
}
a{
    color: teal;
}

#menu
{
    height: 14px;
    background-color: lightblue;
    color: black;
    padding: 14px 20px 15px 20px;
    z-index: 2;
    position: sticky;
    overflow: hidden;
    top: 0;
}   
#header  {
  
    height: 110px;
   
    background-color: darkcyan ;

    text-align: center;  
    font-size: 20px;
    padding: 50px 50px 60px 50px;   

}
img {

    border: 2px solid blue    ;
 }
#table {
    border: 2;

    text-align: center;
    
}#footer
{
padding:  10px 0px 6px 0;
text-align: center;
color: white;
background-color: darkcyan;
height: 24px;
}